.form {
  width: 320px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
  border: solid 1px black;
}

.input {
  height: 10px;
  border-radius: 6px;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 200px;
  font-size: 14px;
}
.input:focus,
:hover {
  border-color: #0003ba;
}
.input:focus {
  outline: none;
}
.span {
  display: block;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.btn {
  cursor: pointer;
  width: 100px;
  border: none;
  color: white;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #00ba0f;
  font-size: 15px;
  border-radius: 6px;
}

@media screen and (min-width: 720px) {
  .form {
    width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 20px;
  }
  .input {
    height: 20px;
    font-size: 18px;
  }
  .span {
    font-size: 18px;
  }
}
