.list {
  margin-left: 30px;
  font-size: 20px;
  text-align: start;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.contacts {
  display: block;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}

.btnList {
  cursor: pointer;
  width: 60px;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  background-color: #ca2f1b;
  font-size: 14px;
  border-radius: 6px;
}
